<div class="h-screen bg-gray-50">
  <nav class="flex justify-between p-6">
    <div>
      <div class="flex items-center">
        <img class="w-14" src="logo.png" alt="logo">
        <p class="text-3xl font-bold relative -top-0.5 -left-1.5">Flowly</p>
      </div>
      <p class="text-xs font-bold text-black/75 relative -top-3">The everything app for work.</p>
    </div>
    <div class="flex items-center gap-5 relative -top-1.5" >
      <p class="font-bold text-black/65 text-sm">Already playing with Flowly?</p>
      <button class="cursor-pointer bg-blue-500 shadow-lg shadow-blue-400 transition duration-250 hover:bg-blue-600 text-white flex items-center font-bold text-sm h-10 rounded-lg px-5 ">Login</button>
    </div>
  </nav>
  <div>
    
  </div>
</div>
